@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

body,
body.light-theme {
  --color-bg: #dddddd;
  --color-text: #ee6352;
}*/

body.dark-theme {
  --color-bg: rgb(53, 53, 53);
  --color-text: wheat;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
